{% extends 'maps/base+navigation.html' %}

{% block content %} 
    <div class="chat-container">

    </div>
    <div class="input-container">
        <textarea class="prompt-textarea" id="prompt-textarea" rows="1"></textarea>
        <button class="round-button">+</button>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            autosize(document.getElementById('prompt-textarea'));
        });
    </script>
{% endblock %}
